a {
    color: #b41b3e;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a::after {
    background-color: #8A0D28;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.4s ease;
}

a:hover::after {
    width: 100%;
}
